.settings/
build
resources
WebContent/axis2-web
WebContent/META-INF
WebContent/WEB-INF
.classpath
.project
buidl.xml
src/org/example/www/garbagerecycler/AddRecyclingToUser.java
src/org/example/www/garbagerecycler/AddRecyclingToUserResponse.java
src/org/example/www/garbagerecycler/ExtensionMapper.java
src/org/example/www/garbagerecycler/GarbageRecyclerMessageReceiverInOut.java
src/org/example/www/garbagerecycler/GetAllRecycling.java
src/org/example/www/garbagerecycler/GetAllRecyclingResponse.java
src/org/example/www/garbagerecycler/GetAllRecyclingFromUser.java
src/org/example/www/garbagerecycler/GetAllRecyclingFromUserResponse.java
src/org/example/www/garbagerecycler/Recycling.java
src/org/example/www/garbagerecycler/RegisterUser.java
src/org/example/www/garbagerecycler/RegisterUserResponse.java
src/org/example/www/garbagerecycler/User.java
src/org/example/www/garbagerecycler/UserRecycling.java
